{% load static %}
<html>
    <head>
        <title>Django Blog</title>
        <link rel="stylesheet" href={% static 'css/base.css' %} >
    </head>
    <body>
        <header>
            <div class="nav-left">
            <h1><a href={% url 'home' %}>Django board</a></h1>
        </div>
            <div class="nav-righ">
            <a href={% url 'post_new' %}>+ New Post</a>

            </div>
        </header>
        {% if user.is_authenticated %}
             <p>Hi {{user.username}}</p>
             <p><a href={% url 'logout' %}>Log Out</a></p>
        {% else %} 
             <p>You are not logged</p>
             <a href={% url 'login' %}>Log In</a>
        {% endif %}
        
        <div>
            {% block content %}
            
            {% endblock content %}
        </div>
    </body>
</html>